<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>reveal.js</title>

    <link rel="stylesheet" href="../css/reveal.css">
    <link rel="stylesheet" href="../css/theme/baloise.css">

    <!-- Theme used for syntax highlighting of code -->
    <link rel="stylesheet" href="../lib/css/atom-one-dark.css">

    <!-- Printing and PDF exports -->
    <script>
        var link = document.createElement('link');
        link.rel = 'stylesheet';
        link.type = 'text/css';
        link.href = window.location.search.match(/print-pdf/gi) ? '../css/print/pdf.css' : '../css/print/paper.css';
        document.getElementsByTagName('head')[0].appendChild(link);
    </script>
</head>
<body>
<div class="reveal">
    <div class="slides">
        <section class="deck-slide" data-background="#E5F3F9">
            <h1>Templates - Erweitert</h1>
        </section>
        <section>
            <h2>Structural Directives</h2>
            <h3>Kurze Info zum Asterisk (*)</h3>
            <ul>
                <li>ein <span class="code">*</span> signalisiert eine strucural Directive</li>
                <li>der Stern ersetzt eine kompliziertere Syntax durch die Kurzform</li>
                <li>dies gilt für <span class="code">*ngIf</span>, <span class="code">*ngFor</span> und <span
                        class="code">*ngSwitch</span></li>
                <li>Ein Beispiel wird die Unterschiede zeigen</li>
            </ul>
        </section>
        <section>
            <section>
                <h2>*ngIf</h2>
                <h3>zum Ein- und Ausblenden von Inhalten</h3>
                <h4>Entfernt das Host-Element aus dem DOM</h4>
                <pre>
                    <code class="hljs html" data-trim contenteditable>
                         <input type="text" [value]="search">
                         &ltdiv *ngIf="search.length > 1"&gt
                            <result-table></result-table>
                         &lt/div&gt
                    </code>
                </pre>
                <pre>
                    <code class="hljs typescript" data-trim contenteditable>
                         search: string = "";
                    </code>
                </pre>
            </section>
            <section>
                <h3>sehr nützlich als Guard für null checks</h3>
                <pre>
                    <code class="hljs html" data-trim contenteditable>
                         &ltdiv *ngIf="person"&gt
                            <p>{{person.firstName}}</p>
                         &lt/div&gt
                    </code>
                </pre>
                <span class="warn">Wichtig:</span> Es ist ein grosser Unterschied ob ein Element mit CSS versteckt wird,
                oder mit <span class="code">*ngIf</span> aus dem DOM entfernt wird. Beim Verstecken bleibt das Element
                im DOM und benötigt sowohl Speicher als auch weitere Resourcen. <span class="code">*ngIf</span> ist
                meist die bessere Lösung.</span>
            </section>
            <section>
                <h3>Aufgabe 7.1 - *ngIf</h3>
                <ul>
                    <li>Nutze einen Radio Button mit den Werten "Einfach" und "Erweitert"</li>
                    <li>Zeige bei Erweitert ein <span class="codeq">Input</span> Feld an</li>
                    <li>Falls im <span class="code">Input</span> Feld mehr als 2 Zeichen stehen, gebe den Text darunter
                        aus.
                    </li>
                    <li>Hint: es gibt einen Typ "radio" auf dem <span class="code">Input</span></li>
                    <li>Hint: Eine Radiogroup erhält man, indem man den <span class="code">Inputs</span> den selben Wert
                        für das name-Property zuweist
                    </li>
                </ul>
            </section>
            <section>
                <h3>Aufgabe 7.1 - Mögliche Lösung</h3>
                <pre>
                     <code class="hljs html" data-trim contenteditable>
                        &ltinput type="radio" name="set"
                           [(ngModel)]="setting" value="Einfach">Einfach
                        &ltinput type="radio" name="set"
                           [(ngModel)]="setting" value="Erweitert">Erweitert
                        &ltdiv *ngIf="setting === 'Erweitert'">
                            &ltinput type="text" [value]="val"
                                (input)="val=$event.target.value">
                            &ltdiv *ngIf="val.length >= 2">
                                &ltp>Wert: {{val}}</p>
                         &lt/div>
                        &lt/div>
                     </code>
                    <code class="hljs typescript" data-trim contenteditable>
                         val: string = "";
                         setting: string = "Einfach";
                    </code>
                 </pre>
            </section>
            <section>
                <h3>*ngIf - kurze vs. lange Syntax</h3>
                <pre>
                    <code class="hljs html" data-trim contenteditable>
                         <input type="text" [value]="search">
                         &ltdiv *ngIf="search.length > 1"&gt
                            <result-table></result-table>
                         &lt/div&gt
                    </code>
                    <code class="hljs html" data-trim contenteditable>
                        <input type="text" [value]="search">
                        &lttemplate [ngIf]="search.length > 1">
                            <div>
                              <result-table></result-table>
                            </div>
                        &lt/template>
                    </code>
                </pre>
            </section>
        </section>
        <section>
            <section>
                <h2>*ngFor</h2>
                <h3>zum Iterieren über Collections</h3>
                <pre>
                    <code class="hljs html" data-trim contenteditable>
                        <ul>
                            &ltli *ngFor="let customer of customers">
                                {{ customer.name}}
                            &lt/li>
                        </ul>
                    </code>
                    <code class="hljs html" data-trim contenteditable>
                        &ltdiv *ngFor="let item of items; let idx = index;">
                            <my-item-view [item]="item"></my-item-view>
                        &lt/div>
                    </code>
                </pre>
            </section>
            <section>
                <h3>*ngFor - Syntax</h3>
                <ul>
                    <li>eigene Angular Syntax</li>
                    <li>der mit <span class="code">*ngFor</span> versehene Block wird wiederholt</li>
                    <li>Nimm jedes Item im Items Array und weiss es der variable item zu. Erzeuge pro Iteration ein <span class="code">li</span> Element.</li>
                    <li>Die sogenannte <span class="code">Template Input Variable</span> <span class="code">let</span> ist nur im Element und dessen Kindern gültig.</li>
                </ul>
            </section>
            <section>
                <h3>Aufgabe 7.2 - *ngFor</h3>
                <ul>
                    <li>Erstelle ein Array von Todos</li>
                    <li>Jedes Todo sollte mindestens 2 Properties (Titel, Beschreibung) haben</li>
                    <li>Rendere jedes Todo mit einer <span class="code">h2</span> - Überschrift für den Titel und normale Paragraphs für weitere Attribute</li>
                </ul>
            </section>
            <section>
                <h3>Aufgabe 7.2 - Mögliche Lösung</h3>
                <pre>
                     <code class="hljs html" data-trim contenteditable>
                        &ltdiv *ngFor="let todo of todos">
                            &lth2>{{todo.title}}&lt/h2>
                            &ltp>{{todo.desc}}&lt/p>
                        &lt/div>
                     </code>
                    <code class="hljs typescript" data-trim contenteditable>
                            todos: any[]= [{
                                title: "*ngFor",
                                desc: "Lösung finden"
                            }, {
                                title: "*ngSwitch",
                                desc: "Folien erstellen"
                            }];
                    </code>
                 </pre>
            </section>
            <section>
                <h3>*ngFor Advanced - Helper Variablen</h3>
                <p>Helper boolean Variablen für <span class="code">odd</span>, <span class="code">even</span>, <span class="code">first</span> und <span class="code">last</span> und die Index-Variable <span class="code">index</span></p>
                <pre>
                    <code class="hljs html" data-trim contenteditable>
                        &ltdiv *ngFor="let todo of todos; let idx = index;
                            let first = first; let last = last;
                            let even = even; let odd = odd;">
                            {{idx}} // 0
                            {{first}} // true
                            {{last}} // true
                            {{even}} // true
                            {{odd}} // false
                        &lt/div>
                    </code>
                </pre>
            </section>
            <section>
                <h3>*ngFor Advanced - Custom trackBy</h3>
                <p>Object Identity wird für Änderungen an der Liste genutzt um die Anpassungen im DOM verfügbar zu machen. Mit einer eigenen <span class="code">trackBy</span> Funktion kann dies gesteuert werden. Default ist object identity <span class="code">===</span></p>
                <pre>
                    <code class="hljs html" data-trim contenteditable>
                        &ltdiv *ngFor="let todo of todos; trackBy: myTrackFunc">
                        &lt/div>
                    </code>
                    <code class="hljs typescript" data-trim contenteditable>
                        myTrackFunc(index, todo) {
                            return todo.id;
                        }
                    </code>
                </pre>
            </section>
            <section>
                <h3>*ngFor - kurze vs. lange Syntax</h3>
                <pre>
                    <code class="hljs html" data-trim contenteditable>
                        &ltdiv *ngFor="let item of items; let idx = index;">
                            <my-item-view [item]="item"></my-item-view>
                        &lt/div>
                    </code>
                    <code class="hljs html" data-trim contenteditable>
                        &lttemplate ngFor let--item let-idx="index"
                            [ngForOf]="items">
                            &ltdiv>
                                <my-item-view [item]="item"></my-item-view>
                            &lt/div>
                        &lt/template>
                    </code>
                </pre>
            </section>
        </section>
        <section>
            <section>
                <h2>*ngSwitch</h2>
                <ul>
                    <li><span class="code">[ngSwitch]="expression"</span> ist die Direktive mit dem Switch Wert</li>
                    <li><span class="code">*ngSwitchCase="value"</span> ist die Direktive mit einem Case Wert, ist dieser gleich dem Switch Wert, wird das Element dem DOM hinzugefügt</li>
                    <li><span class="code">*ngSwitchDefault</span> fügt das Element dem DOM hinzu wenn keiner der Cases greift</li>
                </ul>
            </section>
            <section>
                <h3>Beispiel</h3>
                <pre>
                    <code class="hljs html" data-trim contenteditable>
                        &ltdiv [ngSwitch]="selectedFruit">
                            &ltapple-view *ngSwitchCase="Fruit.APPLE">
                                &lt/apple-view>

                            &ltorange-view *ngSwitchCase="Fruit.ORANGE">
                                &lt/orange-view>

                            &ltno-fruit-selected *ngSwitchDefault>
                                &lt/no-fruit-selected>
                        &lt/div>
                    </code>
                </pre>
            </section>
        </section>
        <section>
            <h2>ngClass</h2>
            <h3>für dynamische CSS Klassen</h3>
            <p>für einzelne Klassen - ein <span class="code">Class Binding</span> benutzen</p>
            <pre>
                <code class="hljs html" data-trim contenteditable>
                    <div [class.active]="customer.active"></div>
                </code>
            </pre>
            <p>für mehrere Klassen - die <span class="code">ngClass Directive</span></p>
            <pre>
                <code class="hljs html" data-trim contenteditable>
                    &ltdiv [ngClass]="{
                      'active': customer.active,
                      'inactive': !customer.active}">
                    &lt/div>
                </code>
            </pre>
        </section>
        <section>
            <section>
                <h2>ngStyle</h2>
                <h3>für dynamische Inline Styles</h3>
                <p>für einzelne Klassen - ein <span class="code">Style Binding</span> benutzen</p>
                <pre>
                    <code class="hljs html" data-trim contenteditable>
                        &ltspan
                            [style.font-weight]="pers.isVip ? 'bold' : 'normal'">
                        &lt/span>
                    </code>
                </pre>
                <p>für mehrere Styles - die <span class="code">ngStyle Directive</span></p>
                <pre>
                    <code class="hljs html" data-trim contenteditable>
                        &ltspan [ngStyle]="{
                          'font-size': pers.isVip ? 'bold' : 'normal'
                          'color': pers.isVip ? 'red' : 'blue'}">
                        &lt/span>
                    </code>
                </pre>
            </section>
            <section>
                <h3>Inline Styles vs. Klassen</h3>
                <ul>
                    <li>ich nutze <span class="warn">NIE</span> Inline Styles</li>
                    <li>Alle Styles gehören aus meiner Sicht in die Stylesheet Dateien</li>
                    <li>Inline Styles sind nicht wiederverwendbar</li>
                    <li>Inline Styles verringern die Wartbarkeit - durch das Ersetzen der Stylesheets bspw. bei einem Redesign sind Inline Styles davon nicht betroffen</li>
                </ul>
            </section>
        </section>
        <section>
            <section>
                <h2>Pipes</h2>
                <h3>für Transformationen von Werten</h3>
                <ul>
                    <li>wird mit einem Strich <span class="code">|</span> gestartet, dann folgt die Operation, z.B. <span class="code">| uppercase</span></li>
                    <li>viele eingebaute Pipes, z. B. <span class="code">lowercase</span>, <span class="code">uppercase</span>, <span class="code">date</span>, <span class="code">currency</span> uvm.</li>
                    <li>Pipes könnten Parameter erhalten: <span class="code">{{birthday | date:"MM/dd/yy"}}</span></li>
                    <li>Eigene Pipes müssen das <span class="code">PipeTransform</span> Interface implementieren und mit <span class="code">@Pipe({name: 'name'})</span> annotiert sein</li>
                </ul>
            </section>
            <section>
                <h3>Beispiele</h3>
                <pre>
                    <code class="hljs html" data-trim contenteditable>
                        {{birthday | date:'MM/dd/yy'}}

                        <!-- mit mehreren Parametern-->
                        {{kontostand | currency:'CHF':false}}

                        <!-- Chaining, von links nach rechts -->
                        {{titel | lowercase | uppercase}}

                        <!-- custom pipe -->
                        {{rechnungsNr | invoiceNr}}
                    </code>
                </pre>
            </section>
            <section>
                <h3>Custom Pipe</h3>
                <pre>
                    <code class="hljs typescript" data-trim contenteditable>
                        import { Pipe, PipeTransform } from '@angular/core';

                        @Pipe({name: 'ellipsis'})
                        export class EllipsisPipe implements PipeTransform {
                            transform(word: string, count: number): string {
                                if(!count) {
                                    return word;
                                }
                                if(word.length <= number) {
                                    return word
                                }
                                return word.substring(0, number) + '...';
                            }
                        }
                    </code>
                    <code class="hljs html" data-trim contenteditable>
                        {{Lorem ipsum dolor | ellipsis:10}}
                        <!-- Lorem ipsu...-->
                    </code>
                </pre>
            </section>
            <section>
                <h3>Aufgabe 7.3 - Pipes</h3>
                <ul>
                    <li>Erstelle eine eigene Pipe <span class="code">phonenumber</span></li>
                    <li>Formatiere die Nummer 0564410808 (string)</li>
                    <li>Die Nummer soll folgendermassen formatiert werden können</li>
                    <li>Default: <span class="code">056 441 08 08</span></li>
                    <li>mit Parameter 41: <span class="code">+41 56 441 08 08</span></li>
                </ul>
            </section>
            <section>
                <h3>Aufgabe 7.3 - Mögliche Lösung</h3>
                <pre>
                    <code class="hljs typescript" data-trim contenteditable>
                        import { Pipe, PipeTransform } from '@angular/core';

                        @Pipe({name: 'phonenumber'})
                        export class PhonenumberPipe implements PipeTransform {
                            transform(phone: string, country: number): string {
                                if(phone.length != 10) {
                                    return phone;
                                }
                                return '+' +country+ ' ' + phone.substring(1, 3)
                                    + ' ' + phone.substring(3, 6)
                                    + ' ' + phone.substring(6, 8)
                                    + ' ' + phone.substring(8, 10);
                            }
                        }
                    </code>
                 </pre>
            </section>
        </section>
        <section>
            <h2>Safe Navigation Operator</h2>
            <h3>Zum Vermeiden von NullPointern ;-)</h3>
            <ul>
                <li>wird mit <span class="code">?.</span> benutzt</li>
                <li>Der Wert wird erst gerendert, wenn alle Properties aufgelöst werden können</li>
                <li>leichtgewichtige Alternative zu chained <span class="code">*ngIf</span> oder chained null checks mit <span class="code">&&</span></li>
            </ul>
            <pre>
                <code class="hljs html" data-trim contenteditable>
                    <p>Name: {{comp?.ceo?.name}}</p>
                    <p>Name: {{comp && comp.ceo && comp.ceo.name}}</p>
                </code>
            </pre>
        </section>
        <section>
            <h2>Noch etwas offen?</h2>
            <img src="../img/noquestions.jpg">
        </section>
    </div>
</div>
<script src="../lib/js/head.min.js"></script>
<script src="../js/reveal.js"></script>

<script>
    // More info https://github.com/hakimel/reveal.js#configuration
    Reveal.initialize({
        history: true,

        // More info https://github.com/hakimel/reveal.js#dependencies
        dependencies: [
            {src: '../plugin/markdown/marked.js'},
            {src: '../plugin/markdown/markdown.js'},
            {src: '../plugin/notes/notes.js', async: true},
            {
                src: '../plugin/highlight/highlight.js', async: true, callback: function () {
                hljs.initHighlightingOnLoad();
            }
            }
        ]
    });
</script>
</body>
</html>
