<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>reveal.js</title>

    <link rel="stylesheet" href="../css/reveal.css">
    <link rel="stylesheet" href="../css/theme/baloise.css">

    <!-- Theme used for syntax highlighting of code -->
    <link rel="stylesheet" href="../lib/css/atom-one-dark.css">

    <!-- Printing and PDF exports -->
    <script>
        var link = document.createElement('link');
        link.rel = 'stylesheet';
        link.type = 'text/css';
        link.href = window.location.search.match(/print-pdf/gi) ? '../css/print/pdf.css' : '../css/print/paper.css';
        document.getElementsByTagName('head')[0].appendChild(link);
    </script>
</head>
<body>
<div class="reveal">
    <div class="slides">
        <section class="deck-slide" data-background="#E5F3F9">
            <h1>Templates - Erweitert</h1>
        </section>
        <section>
            <h2>Structural Directives</h2>
            <h3>Kurze Info zum Asterisk (*)</h3>
            <ul>
                <li>ein <span class="code">*</span> signalisiert eine strucural Directive</li>
                <li>der Stern ersetzt eine kompliziertere Syntax durch die Kurzform</li>
                <li>dies gilt für <span class="code">*ngIf</span>, <span class="code">*ngFor</span> und <span
                        class="code">*ngSwitch</span></li>
                <li>Ein Beispiel wird die Unterschiede zeigen</li>
            </ul>
        </section>
        <section>
            <section>
                <h2>*ngIf</h2>
                <h3>zum Ein- und Ausblenden von Inhalten</h3>
                <h4>Entfernt das Host-Element aus dem DOM</h4>
                <pre>
                    <code class="hljs html" data-trim contenteditable>
                         <input type="text" [value]="search">
                         &ltdiv *ngIf="search.length > 1"&gt
                            <result-table></result-table>
                         &lt/div&gt
                    </code>
                </pre>
                <pre>
                    <code class="hljs typescript" data-trim contenteditable>
                         search: string = "";
                    </code>
                </pre>
            </section>
            <section>
                <h3>sehr nützlich als Guard für null checks</h3>
                <pre>
                    <code class="hljs html" data-trim contenteditable>
                         &ltdiv *ngIf="person"&gt
                            <p>{{person.firstName}}</p>
                         &lt/div&gt
                    </code>
                </pre>
                <span class="warn">Wichtig:</span> Es ist ein grosser Unterschied ob ein Element mit CSS versteckt wird,
                oder mit <span class="code">*ngIf</span> aus dem DOM entfernt wird. Beim Verstecken bleibt das Element
                im DOM und benötigt sowohl Speicher als auch weitere Resourcen. <span class="code">*ngIf</span> ist
                meist die bessere Lösung.</span>
            </section>
            <section>
                <h3>Aufgabe 7.1 - *ngIf</h3>
                <ul>
                    <li>Nutze einen Radio Button mit den Werten "Einfach" und "Erweitert"</li>
                    <li>Zeige bei Erweitert ein <span class="codeq">Input</span> Feld an</li>
                    <li>Falls im <span class="code">Input</span> Feld mehr als 2 Zeichen stehen, gebe den Text darunter
                        aus.
                    </li>
                    <li>Hint: es gibt einen Typ "radio" auf dem <span class="code">Input</span></li>
                    <li>Hint: Eine Radiogroup erhält man, indem man den <span class="code">Inputs</span> den selben Wert
                        für das name-Property zuweist
                    </li>
                </ul>
            </section>
            <section>
                <h3>Aufgabe 7.1 - Mögliche Lösung</h3>
                <pre>
                     <code class="hljs html" data-trim contenteditable>
                        &ltinput type="radio" name="set"
                           [(ngModel)]="setting" value="Einfach">Einfach
                        &ltinput type="radio" name="set"
                           [(ngModel)]="setting" value="Erweitert">Erweitert
                        &ltdiv *ngIf="setting === 'Erweitert'">
                            &ltinput type="text" [value]="val"
                                (input)="val=$event.target.value">
                            &ltdiv *ngIf="val.length >= 2">
                                &ltp>Wert: {{val}}</p>
                         &lt/div>
                        &lt/div>
                     </code>
                    <code class="hljs typescript" data-trim contenteditable>
                         val: string = "";
                         setting: string = "Einfach";
                    </code>
                 </pre>
            </section>
        </section>
        <section>
            <section>
                <h2>*ngFor</h2>
                <h3>zum Iterieren über Collections</h3>
                <pre>
                    <code class="hljs html" data-trim contenteditable>
                        <ul>
                            &ltli *ngFor="let customer of customers">
                                {{ customer.name}}
                            &lt/li>
                        </ul>
                    </code>
                    <code class="hljs html" data-trim contenteditable>
                        &ltdiv *ngFor="let item of items; let idx = index;">
                            <my-item-view [item]="item"></my-item-view>
                        &lt/div>
                    </code>
            </section>
            <section>
                <h3>*ngFor - Syntax</h3>
                <ul>
                    <li>eigene Angular Syntax</li>
                    <li>der mit <span class="code">*ngFor</span> versehene Block wird wiederholt</li>
                    <li>Nimm jedes Item im Items Array und weiss es der variable item zu. Erzeuge pro Iteration ein <span class="code">li</span> Element.</li>
                    <li>Die sogenannte <span class="code">Template Input Variable</span> <span class="code">let</span> ist nur im Element und dessen Kindern gültig.</li>
                </ul>
            </section>
            <section>
                <h3>Aufgabe 7.2 - *ngFor</h3>
                <ul>
                    <li>Erstelle ein Array von Todos</li>
                    <li>Jedes Todo sollte mindestens 2 Properties (Titel, Beschreibung) haben</li>
                    <li>Rendere jedes Todo mit einer <span class="code">h2</span> - Überschrift für den Titel und normale Paragraphs für weitere Attribute</li>
                </ul>
            </section>
            <section>
                <h3>Aufgabe 7.2 - Mögliche Lösung</h3>
                <pre>
                     <code class="hljs html" data-trim contenteditable>
                        &ltdiv *ngFor="let todo of todos">
                            &lth2>{{todo.title}}&lt/h2>
                            &ltp>{{todo.desc}}&lt/p>
                        &lt/div>
                     </code>
                    <code class="hljs typescript" data-trim contenteditable>
                            todos: any[]= [{
                                title: "*ngFor",
                                desc: "Lösung finden"
                            }, {
                                title: "*ngSwitch",
                                desc: "Folien erstellen"
                            }];
                    </code>
                 </pre>
            </section>
            <section>
                <h3>*ngFor Advanced</h3>
                <ul>
                    <li>odd, first, last, even</li>
                    <li>Change Detection</li>
                    <li>Remove, Add, reorder</li>
                    <li>trackBy</li>
                </ul>
            </section>
        </section>
        <section>
            <h2>Noch etwas offen?</h2>
            <img src="../img/noquestions.jpg">
        </section>
    </div>
</div>
<script src="../lib/js/head.min.js"></script>
<script src="../js/reveal.js"></script>

<script>
    // More info https://github.com/hakimel/reveal.js#configuration
    Reveal.initialize({
        history: true,

        // More info https://github.com/hakimel/reveal.js#dependencies
        dependencies: [
            {src: '../plugin/markdown/marked.js'},
            {src: '../plugin/markdown/markdown.js'},
            {src: '../plugin/notes/notes.js', async: true},
            {
                src: '../plugin/highlight/highlight.js', async: true, callback: function () {
                hljs.initHighlightingOnLoad();
            }
            }
        ]
    });
</script>
</body>
</html>
