<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>Angular Workshop | 07 Templates Advanced</title>

    <link rel="stylesheet" href="../css/reveal.css">
    <link rel="stylesheet" href="../css/theme/baloise.css">

    <!-- Theme used for syntax highlighting of code -->
    <link rel="stylesheet" href="../lib/css/atom-one-dark.css">

    <!-- Printing and PDF exports -->
    <script>
        var link = document.createElement('link');
        link.rel = 'stylesheet';
        link.type = 'text/css';
        link.href = window.location.search.match(/print-pdf/gi) ? '../css/print/pdf.css' : '../css/print/paper.css';
        document.getElementsByTagName('head')[0].appendChild(link);
    </script>
</head>
<body>
<div class="reveal">
    <div class="slides">
        <section class="deck-slide">
            <h1>Templates - Advanced</h1>
        </section>
        <section>
            <h2>Structural Directives</h2>
            <h3>short info about the asterisk (*)</h3>
            <ul>
                <li>a <span class="code">*</span> is the signal for a structural Directive</li>
                <li>the asterisk replaces a more complicated syntax with a short version</li>
                <li>it is used for <span class="code">*ngIf</span>, <span class="code">*ngFor</span> and <span
                        class="code">*ngSwitch</span></li>
                <li>An example will show the differences</li>
            </ul>
        </section>
        <section>
            <section>
                <h2>*ngIf</h2>
                <h3>to show and hide content</h3>
                <h4>removes the host element from the DOM</h4>
                <pre>
                    <code class="hljs html" data-trim contenteditable>
                         <input type="text" [value]="search">
                         &lt;div *ngIf="search.length > 1"&gt;
                            <result-table></result-table>
                         &lt;/div&gt;
                    </code>
                </pre>
                <pre>
                    <code class="hljs typescript" data-trim contenteditable>
                         search: string = "";
                    </code>
                </pre>
            </section>
            <section>
                <h3>pretty useful as a guard for null checks</h3>
                <pre>
                    <code class="hljs html" data-trim contenteditable>
                         &lt;div *ngIf="person"&gt;
                            <p>{{person.firstName}}</p>
                         &lt;/div&gt;
                    </code>
                </pre>
                <span class="warn">Important:</span> There is a huge difference between hiding an element with css and removing it with <span class="code">*ngIf</span> from the DOM. When hidden with css, the element still
                uses resources such as memory. <span class="code">*ngIf</span> is most of the time the better approach.</span>
            </section>
            <section>
                <h3>Task 7.1 - *ngIf</h3>
                <ul>
                    <li>Use a radio button with the values "simple" and "advanced"</li>
                    <li>when advanced is selected, show an <span class="code">Input</span> field</li>
                    <li>if the <span class="code">Input</span> contains more than 2 characters, display the input text under the field</li>
                    <li>Use a <a href="https://design.baloise.dev/?path=/docs/components-form-radio--radio-group">bal-radio</a></li>
                    <li>Use a <a href="https://design.baloise.dev/?path=/docs/components-form-input--text-input">bal-input</a></li>
                    <li>Hint: a <span class="code">bal-radio-group</span> can be created, when the <span class="code">bal-radio</span> elements have the same value for the name-property
                    </li>
                </ul>
            </section>
            <section>
                <h3>Task 7.1 - Possible Solution</h3>
                <pre>
                     <code class="hljs html" data-trim contenteditable>
                        &lt;bal-radio-group [value]="setting" (balChange)="setting=$event.detail">
                            &lt;bal-radio name="myRadio" value="simple">Simple&lt;/bal-radio>
                                &lt;bal-radio name="myRadio" value="advanced">Advanced&lt;/bal-radio>
                            &lt;/bal-radio-group>
                          
                        &lt;div *ngIf="setting === 'advanced'">
                            &lt;bal-input
                              placeholder="advanced"
                              [value]="advancedValue"
                              (balInput)="advancedValue=$event.detail!.toString()"
                            >&lt;/bal-input>
                            &lt;p *ngIf="advancedValue.length > 2">
                              Value: {{advancedValue}}
                            &lt;/p>
                        &lt;/div>
                     </code>
                    <code class="hljs typescript" data-trim contenteditable>
                         setting: string = "simple";
                         advancedValue: string = "";
                    </code>
                 </pre>
            </section>
            <section>
                <h3>*ngIf - short vs. long syntax</h3>
                <pre>
                    <code class="hljs html" data-trim contenteditable>
                         <input type="text" [value]="search">
                         &lt;div *ngIf="search.length > 1"&gt;
                            <result-table></result-table>
                         &lt;/div&gt;
                    </code>
                    <code class="hljs html" data-trim contenteditable>
                        <input type="text" [value]="search">
                        &lt;template [ngIf]="search.length > 1">
                            <div>
                              <result-table></result-table>
                            </div>
                        &lt;/template>
                    </code>
                </pre>
            </section>
        </section>
        <section>
            <section>
                <h2>*ngFor</h2>
                <h3>to iterate over collections</h3>
                <pre>
                    <code class="hljs html" data-trim contenteditable>
                        <ul>
                            &lt;li *ngFor="let customer of customers">
                                {{ customer.name}}
                            &lt;/li>
                        </ul>
                    </code>
                    <code class="hljs html" data-trim contenteditable>
                        &lt;div *ngFor="let item of items; let idx = index;">
                            <my-item-view [item]="item"></my-item-view>
                        &lt;/div>
                    </code>
                </pre>
            </section>
            <section>
                <h3>*ngFor - Syntax</h3>
                <ul>
                    <li>custom Angular Syntax</li>
                    <li>the block with <span class="code">*ngFor</span> is repeated</li>
                    <li>takes every element of the array and assigns it to <span class="code">item</span>. A <span class="code">li</span> element is created for every iteration.</li>
                    <li>the so called <span class="code">template input variable</span> is only valid in the scope of the element and its children</li>
                </ul>
            </section>
            <section>
                <h3>Task 7.2 - *ngFor</h3>
                <ul>
                    <li>create an array of todo's</li>
                    <li>Hint: <span class="code">todos = [{title: 'A'}, {title: 'B'}];</span></li>
                    <li>every todo should have at least 2 properties (title, description)</li>
                    <li>render every single todo with a <span class="code">h2</span> - a heading for the title and a paragraph for other properties</li>
                </ul>
            </section>
            <section>
                <h3>Task 7.2 - Possible Solution</h3>
                <pre>
                     <code class="hljs html" data-trim contenteditable>
                        &lt;div *ngFor="let todo of todos">
                            &lt;h2>{{todo.title}}&lt;/h2>
                            &lt;p>{{todo.desc}}&lt;/p>
                        &lt;/div>
                     </code>
                    <code class="hljs typescript" data-trim contenteditable>
                            todos: any[]= [{
                                title: "*ngFor",
                                desc: "find solution"
                            }, {
                                title: "*ngSwitch",
                                desc: "take a nap"
                            }];
                    </code>
                 </pre>
            </section>
            <section>
                <h3>*ngFor Advanced - helper variables</h3>
                <p>helper boolean variables for <span class="code">odd</span>, <span class="code">even</span>, <span class="code">first</span> and <span class="code">last</span> and the <span class="code">index</span> variable</p>
                <pre>
                    <code class="hljs html" data-trim contenteditable>
                        &lt;div *ngFor="let todo of todos; let idx = index;
                            let first = first; let last = last;
                            let even = even; let odd = odd;">
                            {{idx}} // 0
                            {{first}} // true
                            {{last}} // true
                            {{even}} // true
                            {{odd}} // false
                        &lt;/div>
                    </code>
                </pre>
            </section>
            <section>
                <h3>*ngFor Advanced - custom trackBy</h3>
                <p>Object identity is used to make changes in collections available in the DOM. The behaviour can be controlled with a custom <span class="code">trackBy</span> function. Default is object identity <span class="code">===</span></p>
                <pre>
                    <code class="hljs html" data-trim contenteditable>
                        &lt;div *ngFor="let todo of todos; trackBy: myTrackFunc">
                        &lt;/div>
                    </code>
                    <code class="hljs typescript" data-trim contenteditable>
                        myTrackFunc(index, todo) {
                            return todo.id;
                        }
                    </code>
                </pre>
            </section>
            <section>
                <h3>*ngFor - short vs. long syntax</h3>
                <pre>
                    <code class="hljs html" data-trim contenteditable>
                        &lt;div *ngFor="let item of items; let idx = index;">
                            <my-item-view [item]="item"></my-item-view>
                        &lt;/div>
                    </code>
                    <code class="hljs html" data-trim contenteditable>
                        &lt;template ngFor let--item let-idx="index"
                            [ngForOf]="items">
                            &lt;div>
                                <my-item-view [item]="item"></my-item-view>
                            &lt;/div>
                        &lt;/template>
                    </code>
                </pre>
            </section>
        </section>
        <section>
            <section>
                <h2>*ngSwitch</h2>
                <ul>
                    <li><span class="code">[ngSwitch]="expression"</span> is the directive with the switch value</li>
                    <li><span class="code">*ngSwitchCase="value"</span> is the directive with the case value, if it's equal to the switch value, the element will be attached to the DOM</li>
                    <li><span class="code">*ngSwitchDefault</span> attaches the element to the DOM if none of the cases matches</li>
                </ul>
            </section>
            <section>
                <h3>example</h3>
                <pre>
                    <code class="hljs html" data-trim contenteditable>
                        &lt;div [ngSwitch]="selectedFruit">
                            &lt;apple-view *ngSwitchCase="Fruit.APPLE">
                                &lt;/apple-view>

                            &lt;orange-view *ngSwitchCase="Fruit.ORANGE">
                                &lt;/orange-view>

                            &lt;no-fruit-selected *ngSwitchDefault>
                                &lt;/no-fruit-selected>
                        &lt;/div>
                    </code>
                </pre>
            </section>
        </section>
        <section>
            <h2>ngClass</h2>
            <h3>for dynamic CSS classes</h3>
            <p>for single classes - use a <span class="code">class binding</span></p>
            <pre>
                <code class="hljs html" data-trim contenteditable>
                    <div [class.active]="customer.active"></div>
                </code>
            </pre>
            <p>for multiple classes: use <span class="code">ngClass directive</span></p>
            <pre>
                <code class="hljs html" data-trim contenteditable>
                    &lt;div [ngClass]="{
                      'active': customer.active,
                      'inactive': !customer.active}">
                    &lt;/div>
                </code>
            </pre>
        </section>
        <section>
            <section>
                <h2>ngStyle</h2>
                <h3>for dynamic inline styles</h3>
                <p>for single styles:use a <span class="code">style binding</span></p>
                <pre>
                    <code class="hljs html" data-trim contenteditable>
                        &lt;span
                            [style.font-weight]="pers.isVip ? 'bold' : 'normal'">
                        &lt;/span>
                    </code>
                </pre>
                <p>for multiple styles: <span class="code">ngStyle directive</span></p>
                <pre>
                    <code class="hljs html" data-trim contenteditable>
                        &lt;span [ngStyle]="{
                          'font-size': pers.isVip ? 'bold' : 'normal'
                          'color': pers.isVip ? 'red' : 'blue'}">
                        &lt;/span>
                    </code>
                </pre>
            </section>
            <section>
                <h3>Inline styles vs. classes</h3>
                <ul>
                    <li>I  <span class="warn">NEVER</span> use inline styles</li>
                    <li>In my opinion, all styles belong into the corresponding stylesheets</li>
                    <li>inline styles are not reusable</li>
                    <li>inline styles reduce maintainability - they are not effected by a redesign when css files are being replaced or color variables change</li>
                    <li>css classes are way more <a href="https://jsperf.com/inline-style-vs-css-class/23" target="_blank">performant</a> than inline styles</li>
                </ul>
            </section>
        </section>
        <section>
            <section>
                <h2>Pipes</h2>
                <h3>for the transformation of values</h3>
                <ul>
                    <li>they start with the UNIX pipe sign <span class="code">|</span>, followed by the name of the operation e.g. <span class="code">| uppercase</span></li>
                    <li>many built in pipes, e.g.  <span class="code">lowercase</span>, <span class="code">uppercase</span>, <span class="code">date</span>, <span class="code">currency</span> and many more</li>
                    <li>pipes can have params <span class="code">{{birthday | date:"MM/dd/yy"}}</span></li>
                    <li>Custom pipes: implement <span class="code">PipeTransform</span> interface and use the <span class="code">@Pipe({name: 'name'})</span> annotation on the typescript class</li>
                </ul>
            </section>
            <section>
                <h3>Examples</h3>
                <pre>
                    <code class="hljs html" data-trim contenteditable>
                        {{birthday | date:'MM/dd/yy'}}

                        <!-- easier to debug, renders object as json-->
                        {{customer | json}}

                        <!-- with multiple params -->
                        {{balance | currency:'CHF':false}}

                        <!-- Chaining, from left to the right -->
                        {{title | lowercase | uppercase}}

                        <!-- custom pipe -->
                        {{invoice.nr | invoiceNr}}
                    </code>
                </pre>
            </section>
            <section>
                <h3>Custom Pipe</h3>
                <pre>
                    <code class="hljs typescript" data-trim contenteditable>
                        import { Pipe, PipeTransform } from '@angular/core';

                        @Pipe({name: 'ellipsis'})
                        export class EllipsisPipe implements PipeTransform {
                            transform(word: string, count: number): string {
                                if(!count) {
                                    return word;
                                }
                                if(word.length <= count) {
                                    return word
                                }
                                return word.substring(0, count) + '...';
                            }
                        }
                    </code>
                    <code class="hljs html" data-trim contenteditable>
                        {{'Lorem ipsum dolor' | ellipsis:10}}
                        <!-- Lorem ipsu...-->
                    </code>
                </pre>
            </section>
            <section>
                <h3>Task 7.3 - Pipes</h3>
                <ul>
                    <li>create a custom pipe <span class="code">phonenumber</span></li>
                    <li>format the phonenumber 0564410808 (string)</li>
                    <li>it should be formatted as follows</li>
                    <li>Default: <span class="code">056 441 08 08</span></li>
                    <li>with param 41: <span class="code">+41 56 441 08 08</span></li>
                </ul>
            </section>
            <section>
                <h3>Task 7.3 - Possible Solution</h3>
                <pre>
                    <code class="hljs typescript" data-trim contenteditable>
                        import {Pipe, PipeTransform} from '@angular/core';
                        @Pipe({name: 'phonenumber'})
                        export class PhoneNumberPipe implements PipeTransform {
                          transform(phone: string, countryCode: string): string {
                            let pts = phone.match(/^(\d{3})(\d{3})(\d{2})(\d{2})$/);
                            if (!pts) return phone;
                            let format = `${pts[1]} ${pts[2]} ${pts[3]} ${pts[4]}`;

                            if (countryCode) {
                              format = `+${countryCode} ${format.substring(1)}`;
                            }

                            return format;
                          }
                        }
                    </code>
                 </pre>
            </section>
        </section>
        <section>
            <h2>Safe Navigation Operator</h2>
            <h3>to avoid NullPointers ;-)</h3>
            <ul>
                <li>used with <span class="code">?.</span></li>
                <li>the value is only rendered when all properties can be accessed</li>
                <li>lightweight alternative to chained <span class="code">*ngIf</span> or chained null checks with <span class="code">&&</span></li>
            </ul>
            <pre>
                <code class="hljs html" data-trim contenteditable>
                    <p>Name: {{comp?.ceo?.name}}</p>
                    <p>Name: {{comp && comp.ceo && comp.ceo.name}}</p>
                </code>
            </pre>
        </section>
        <section>
            <h2>Any questions?</h2>
            <img src="../img/noquestions.jpg">
        </section>
    </div>
</div>
<script src="../lib/js/head.min.js"></script>
<script src="../js/reveal.js"></script>

<script>
    // More info https://github.com/hakimel/reveal.js#configuration
    Reveal.initialize({
        history: true,
        slideNumber: true,

        // More info https://github.com/hakimel/reveal.js#dependencies
        dependencies: [
            {src: '../plugin/markdown/marked.js'},
            {src: '../plugin/markdown/markdown.js'},
            {src: '../plugin/notes/notes.js', async: true},
            {
                src: '../plugin/highlight/highlight.js', async: true, callback: function () {
                    hljs.initHighlightingOnLoad();
                }
            }
        ]
    });
</script>
</body>
</html>
